data/brain_observatory_manifest.json
data/dff.json
data/experiment_containers.json
data/mip.json
data/ophys_experiment_data/
data/ophys_experiments.json
data/rois.json
data/stim_epoch.json

public/data

venv*

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
